<!DOCTYPE html>
<html>
<% include /partials/head %>
  <body>
    <% include /partials/navbar %>

    <div class="jumbotron" id="welcome">
      <form class="form-welcome" method="post" action="/login">
        <h3>Sign in or create yourself a user account</h3>

        <a href="/login" class="btn btn-default btn-lg btn-block">Sign in</a>
        <a href="/register" class="btn btn-success btn-lg btn-block">Sign up</a>

      </form>
    </div>


  </body>
</html>
